body {
 font-family: Tahoma;
 font-size: 14px;
 margin: 0 0 0 0;
}
h3 {
 font-size: 14px;
 margin-top: 30px;
 font-style: bold;
 color: gray;
}
tr {
 text-align: left;
}
p {
}
a img {
 text-decoration: none;
 border: none;
}
.pagequote {
 font-size: 13px;
 font-style: italic;
 text-align: right;
 color: rgb(10,10,10);
 padding-right: 4px;
}
.pagequotesign {
 font-size: 12px;
 text-align: right;
 font-style: italic;
 color: rgb(20,20,20);
 padding-right: 12px;
}
.copyright {
 font-size: 12px;
 color: gray;
 background: rgb(240,240,255);
 text-align: center;
 margin-top: 40px;
}