/* common elements */

body {
  margin: 0px;
  font: .75em Kalimati, Verdana, sans-serif;
  /* background: url(images/bg.png) repeat-x; */
}

a:link {
  color: #496178;
  text-decoration: underline;
}

a:visited {
  color: #496178;
  text-decoration: underline;
}

a:hover {
  color: #90a6bc;
  text-decoration: underline;
}

/* this block for non-html5 browsers */
header, article {
  display: block;
}

.main_table {
  width: 800px;
}

.top_of_main_table {
  height: 256px;
  background: url(images/imper.png) no-repeat center;
}

.nav_bar {
  font-size: 18px;
  color: #a5b6c3;
}

.smlug_en_link {
  font-size: 40px;
}

.smlug_ru {
  font-size: 35px;
  color: #ebf0f4;
}

.block {
  width: 200px;
}

.bottom_of_main_table {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #a1acab;
}

.navigation {
  margin-top: 0px;
  margin-left: 15px;
  font-size: 45px;
  color: #dde5e4;
}

h3 {
 font-size: 20px;
 margin-top: 30px;
 color: #6b8381;
}

/* links block */

.links {
 font: .9em Kalimati, Verdana, sans-serif;
<<<<<<< HEAD
}

.links div {
  margin: 8px;
=======
  color: #171717;
}

.links div {
  margin-left: 4px;
>>>>>>> smlug/master
}

.links h2 {
  font-size: 16px;
  margin-top: 20px;
  color: #6b8381;
}

/* blog */

.posts {
  width: 100%;
}

.post_preview {
  width: 100%;
}

.post_name {
  font-size: 30px;
  padding: 0px;
}

.post_author {
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}

.post_body {
  padding-top: 15px;
}

.post_bottom {
  font-size: 11px;
}

.post_name_input {
  width: 100%;
}

.post_body_textarea {
  width: 100%;
  height: 500px;
}

.post_add {
  width: 100%;
}

.blog_numbers {
  font-size: 45px;
  padding-right: 25px;
}

#pagequote {
 font-size: 13px;
 font-style: italic;
 text-align: right;
 color: rgb(10,10,10);
 padding-right: 4px;
}

#pagequotesign {
 font-size: 12px;
 text-align: right;
 font-style: italic;
 color: rgb(20,20,20);
 padding-right: 12px;
}

/* participate */

.stepname {
 font-weight: bold;
}

.stepscreen {
 width: 400px;
 clear: both;
 padding: 8px;
}

.cmd {
 font-weight: bold;
}
